@media (width >= 1100px) {
  .container {
    min-width: 700px;
    padding-right: 100px;
    .birthday-form {
      label {
        &.arrow-icon {
          width: 120px;
          height: 120px;
          top: calc(35% - 72px / 2);
          left: calc(70% - 72px / 2);
        }
      }
      input {
        &[type='number'] {
          max-width: 125px;
        }
      }
      .arrow-icon {
        top: 25%;
        left: 65%;
      }
    }
    .age {
      h2 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 100px;
      }
    }
  }
}